#listings{
    max-width: 1400px;
    margin: 50px auto; 
    position: relative;
    top: 50px;
}
#listings.browse{
    top: 180px;
}

.listing{
    border-bottom:1px solid rgba(0,0,0,0.1);
    padding: 20px 0px;
    .listingImg{
        width: 100%; height: 200px;
        background-color: pink;
        img{
            object-fit: cover;
            width: 100%;
        }
    }
    h3.listingTitle{
        color: $blue;
        margin: 10px 0px;
        font-size: 18px;
    }
    p.description{
        font-size: 16px;
    }
    span.listingDetails{
        color: rgba(0,0,0,0.7);
    }
    ul.listingFeatures{
        padding-left: 20px;
        // list-style-type:none;
        line-height: 24px;
        font-size: 13px;
        font-weight: 500;
        @extend .source;
    }
    p.listingPrice{
        color: $green;
        font-size: 22px;
        text-align: right;
    }
    p.editBtn{
        color: $blue;
        cursor: pointer;
        text-align: right;
    }
}

#sortDiv{
    padding: 20px 0px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    #sortBtns{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        span{
            margin: 0px 20px;
            cursor: pointer;
        }
    }
}

#filterForm{
    width: 100%;
    margin-bottom: 100px;
    // border-right: 1px solid rgba(0,0,0,0.2);
    padding: 20px 20px;
}

.sideBar-listings-left{
    border-right: 1px solid rgba(0,0,0,0.2);
}

.sideBar-listings-right{
    border-left: 1px solid rgba(0,0,0,0.2);
}