.josefin{
    font-family: 'Josefin Sans', sans-serif;
}
.source{
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3{
    @extend .josefin;
    font-weight: 700;
    // margin: 10px 0px;
}

p{
    @extend .source;
    font-weight: 400;
    margin: 10px 0px;
}

span{
    font-size: 14px;
    @extend .source;
}

p,a,li{
    font-size: 16px;
}



/* Smartphones (portrait) (XS) ----------- */
@media only screen and (max-width : 576px) {
    h1{
        font-size: 36px;
    }

    p{
        font-size: 14px;
        line-height: 24px;
    }
}


@media only screen and (min-width : 768px) {
    h1{
        font-size: 72px;
    }

    p{
        font-size: 20px;
        line-height: 32px;
    }
}


