#header{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 50px 0px;
    transition: ease-in-out all .2s;
    top: 0;
    #navBars, #navMenu{
        display: none;
    }
    #logo{
        width: 200px;
        margin: 0px auto;
        transition: ease-in-out all .2s;
        img{
            width:100%;
        }
    }
    #navMenu{
        span{
            display: inline-block;
            margin: 10px 20px;
            a{
                font-family: 'Josefin Sans', sans-serif;
                color: $blue;
                text-decoration: none;
                font-weight: 600;
            }
        }
    }
}


#header.down{
    padding: 20px 0px 10px 0px;
    transition: ease-in-out all .2s;
    background-color: #fff;
    .col-12{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #logo{
        width: 150px;
        margin: 0px auto;
        transition: ease-in-out all .2s;
    }
    &:before{
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        width: 33.33%;
        background-color: $blue;
        bottom: 0px;
        left: 0px;
    }
    &:after{
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        width: 33.33%;
        background-color: $green;
        bottom: 0px;
        right: 0px;
    }
}

@media only screen and (max-width : 768px) {
    #header.down{
        #navBars{
            display: block;
        }
    }
}

@media only screen and (min-width : 769px) {
    #header.down{
        #navMenu{
            display: block;
        }
    }
}

@media only screen and (min-width : 1020px) {
    #header{
        #logo{
            width:300px;
        }
    }
}
@media only screen and (min-width : 1920px) {
    #header.down{
        height: 90px;
        padding: 20px 10%;
        #navMenu{
            display: block;
            margin: 20px 20px;
        }
        #logo{
            width: 180px;
        }
    }
}