#header{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 50px 0px;
    transition: width .1s;
    #navBars{
        display: none;
    }
    #logo{
        width: 200px;
        margin: 0px auto;
        img{
            width:100%;
        }
    }
    &::before{
        position: absolute;
        display: block;
        height: 3px;
        width: 33.33%;
        background-color: $blue;
        bottom: 0px;
        left: 0px;
    }
    &::after{
        position: absolute;
        display: block;
        height: 3px;
        width: 33.33%;
        background-color: $green;
        bottom: 0px;
        right: 0px;
    }
}

#header.down{
    padding: 20px 0px 10px 0px;
    transition: width .1s;
    background-color: #fff;
    .col-12{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #logo{
        width: 120px;
        margin: 0;
    }
    #navBars{
        display: block;
    }
    
}
