#landing{
    width: 100%;
    height: 100vh;

    #text-wrap{
        height: 100vh;
        padding: 50px 0px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;

        #bgImg{
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            z-index: 1;
            overflow: hidden;
            img{
                height: 100vh;
            }
        }

        #banner{
            padding:0 10%;
            position: relative;
            z-index: 3;
            p{
                margin: 20px 0px;
            }
        }
    }
}

#ctaBtn{
    margin: 0px auto 30px auto;
    position: relative;
    z-index: 2;
    button{
        background-color: $blue;
        width: 200px;
        height: 60px;
        border: none;
        color: white;
        font-family: 'Josefin Sans' !important;
        line-height: 15px;
        position: relative;
        font-size: 16px;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        h4{
            margin: 10px 0px;
        }
        span{
            display: block;
            margin: 5px 0px;
            font-size: 13px;
            font-weight: 400;
        }
    }
}


.categories{
    padding: 50px 20px;
    max-width: 1400px;
    margin: 0px auto !important;
    .col-12{
        align-items: center;
        justify-content: center;
    }
}

.catText{
    h1{
        font-size: 42px;
        color: $blue;
    }
    p{
        width: 500px;
        margin: 30px 0px
    }
}

.catImg{
    text-align: center;
}

#houseText{
    text-align: right;
}

#apartText{
    text-align: left;
}

span.imgWrap{
    display: block;
    width: 100%;
    margin: 30px auto;
    text-align: center;
    img{
        width: 100%;
        margin: 0px auto;
    }
}


#form{
    margin: 50px auto;
    width: 90%;
    max-width: 1400px;
    h2{
        color: $blue;
    }
    form{
        margin: 20px 0px;
        padding:0px;
        border-bottom: 1px solid #d7d7d7;
        input{
            border: none;
            background: none;
            width: calc(100% - 50px);
            padding: 15px 0px 15px 15px;
            outline: none;
        }
        button{
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}

#footer{
    padding: 50px 20px 10px 20px;
    max-width: 1400px;
    p{
        font-size: 12px !important;
        line-height: normal;
        font-weight: 700;
        color: rgba(0,0,0,0.5);
    }
    #copyText{
        position: relative;
        display: flex;
        align-items: flex-end;
        p{
            width: 100%;
            text-align: right;
        }
    }
}

@media only screen and (max-width : 767px) {
    #ctaBtn{
       .btnWrapLg{
            display: none;
        }
        .btnWrapSm{
            display: block;
        }
    }
    .catText{
        margin: auto auto;
        h1{
            width: 90%;
        }
        p{
            width: 90%;
        }
    }
}


@media only screen and (min-width : 768px) {

    .categories{
        min-height: 50vh;
        .catText{
            margin: auto auto;
            h1{
                font-size: 62px;
            }
        }
        .col-md-6{
            display: flex;
        }
        span.imgWrap{
            display: block;
            margin: 30px auto;
        }
    }

    .categories:first-child{
        .col-md-6:first-child{
            align-items: center;
        }
    }

    .categories#houseCat{
        display: flex;
        flex-direction: row-reverse;
    }

    #footer{
        width: 90%;
        margin: 20px auto;
        padding: 0;
    }
    .btnWrapLg{
        display: block;
    }
    .btnWrapSm{
        display: none;
    }
}


@media only screen and (min-width : 1020px) {
    
    #banner{
        text-align: center;
        h1{
            font-size: 78px;
        }
    }

    #bgImg{
        img{
            width: 100%;
        }
    }

    .categories{
        height: 100vh;
        .catText{
            margin: auto auto;
            h1{
                font-size: 78px;
            }
        }
        span.imgWrap{
            max-width: 600px;
        }
    }
    
}


@media only screen and (min-width : 1920px) {
    .categories{
        height: 100vh;
        .catText{
            margin: auto auto;
            h1{
                font-size: 89px;
            }
            p{
                font-size: 20px;
            }
        }
        span.imgWrap{
            width: 500px;
            height: 500px;
        }
    }

}   