@import './theme';
@import './fonts';
@import './home';
@import './header';
@import './float';
@import './browse';
@import './inputs';
@import './sidebar';

body{
    margin: 0;
}

h1,h2,h3{
    margin: 0;
}

#spinnerWrap{
    width: 100%;
    padding: 200px 0px;
    text-align: center;
}

.mgx-auto{
    margin-left: auto;
    margin-right: auto;
}